body {
   margin: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 58px 748px 58px 226px;
    padding:1px;
 }

.box {
    border: 3px solid black;
    height: 100px;
    width: 100px;
 }

 