body {
   margin: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:61px 678px 31px 26px;
    padding:1px;
 }

.box {
    border: 3px solid black;
    height: 100px;
    width: 100px;
 }
